body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rings {
  height: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rings .cirlces {
  height: 80px;
  width: 80px;
  border: 5px solid #000;
  border-radius: 50%;
  position: absolute;
  bottom: -35px;
}
